{% extends "padre.twig" %}

{% block contenido %}
        <form action="/sistema-de-asistencia-grupo-5/inscripcion_realizada" method = "POST"> 
        
                        
            <h3>Inscripcion Curso {{nombre_curso}}<br></h3>
            <label for="email">Ingrese su mail de usuario:</label><br>
            <input type="email" id="email" name="email"><br>
            <input type="hidden" name="nombre_curso" id="nombre_curso" value="{{nombre_curso}}">   

            <!--<option value= {{nombre_curso}} >{{nombre_curso}}</option></select>
            
            <label for="nombre_curso">Seleccione curso:</label><br>
            <select name="nombre_curso" id="nombre_curso">
            {% for cursos in cursos %}
                <option value= {{cursos['nombre_curso']}} >{{cursos['nombre_curso']}}</option>
            {% endfor %}
            </select>
            <br><br>
            -->
            <br><br> <input name="subject" type="submit" value="Enviar"> 
            </form> 
{% endblock %}