{% extends "padre.twig" %}
{% block contenido %}
<h2>Listado de Inscriptos al curso "{{cs}}"</h2>

 <form  action="/sistema-de-asistencia-grupo-5/" method="POST">
<table  class="tablaCurso">
<th>  </th>
<th class="paraTH"> Nombre y Apellido</th>
<th class="paraTH">Asistencia</th>
<th class="paraTH">Opciones</th>
<input type="hidden" id="nombre_curso" name="nombre_curso" value="{{ cs}}">
{% set cantidad = 1 %}
{% for asistentes in alu %} 
  <tr>
   <td>{{ cantidad }}</td>
   <td>  {{ asistentes['apellido'] }}, {{ asistentes['nombre'] }} </td>
   <td> <input type="radio" name="estado" value="P">Presente
   <input type="radio" name="estado" value="A">Ausente</td>
<input type="hidden" id="email" name="email" value="{{ asistentes['email'] }}">

     <td> <input type="submit" id="subject" name="subject" value="Registrar Asistencia" class="botonTabla"> </td>
   </form>
  </tr>
   {% set cantidad = cantidad + 1 %}
   {% endfor %}
  </table>
  </form>


{%endblock%}
 